/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  color: var(--color-pink);
  border: 2px solid var(--color-dark-pink);
  border-radius: 50%;
  margin: auto;
  margin-bottom: 16px;
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}
.major__icon:hover i {
  color: var(--color-yellow);
  transform: rotate(-30deg) scale(1.2);
}
.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.jobs {
  display: flex;
  align-items: center;
}

.job__description {
  margin: 0 25px;
  color: var(--color-light-grey);
  text-align: left;
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}
