/* Contact */
#contact {
  background-image: linear-gradient(
    to bottom,
    #b1e3b6,
    #b5e7ba,
    #b8ecbe,
    #bcf0c2,
    #c0f5c6
  );
}

.contact__title,
.contact__email,
.contact__copyright {
  color: var(--color-white);
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links i {
  transition: all var(--animation-duration) ease-in;
}
.contact__links i:hover {
  transform: scale(1.2);
  color: var(--color-yellow);
}
