#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  background-color: transparent;
  padding: 0 16px;
  white-space: nowrap;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar__dark {
  background-color: var(--color-pink);
  background-image: linear-gradient(
    to bottom,
    #ffbdbd,
    #ffc0c0,
    #ffc2c2,
    #fec5c5,
    #fec7c7
  );
  padding: 16px;
  border-bottom: 1px solid var(--color-white);
}
.nav__menu {
  display: flex;
}

.nav__menu__items {
  margin: 1px 4px 0 4px;
  padding: 8px 10px;
  font-size: var(--font-regular);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
}

.nav__menu__items.active {
  border: 1px solid var(--color-white);
  background-color: var(--color-pink);
}

.nav__menu__items:hover {
  border: 1px solid var(--color-light-white);
  background-color: var(--color-pink);
}

.nav__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  transition: all var(--animation-duration) ease-in;
}

.nav__logo:hover {
  color: var(--color-dark-pink);
}

.nav__logo i {
  margin: 0 5px;
}

.navbar__toggle-btn {
  position: absolute;
  right: 32px;
  font-size: 24px;
  display: none;
}
