/* @import "reset.css"; */
@import "variable.css";
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600&family=Fjalla+One&display=swap');

/* Contents */
@import "navbar.css";
@import "home.css";
@import "about.css";
@import "contributions.css";
@import "work.css";
@import "testimonial.css";
@import "contact.css";

/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #ffbdbd;
  --color-dark-pink: #f1a1a1;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fdf8e5;
  --color-light-yellow: #fffde3;
  --color-green: #B2E4B8;
  --color-orange: #f5f3f1;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 23px;
  --font-regular: 19px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 600;
  --weight-semi-bold: 500;
  --weight-regular: 400;

  /* Size */
  --border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}
/* Universal tags */
* {
  box-sizing: border-box;

}

body {
  margin: 0;
  font-family: 'Alegreya', serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0px;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 15px 0;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Section Common */
.section {
  padding: 80px 50px 80px 50px;
  text-align: center;
  margin: auto;
}

.section > h1 {
  margin-top: 30px;
}
.section__container {
  max-width: 1200px;
  margin: auto;
}

/* Arrow up */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 40px;
  color: var(--color-white);
  border: 1px solid var(--color-white);
  background-color: var(--color-pink);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) ease-in;
}

.arrow-up.visible {
  opacity: 100;
  pointer-events: auto;
}

/* For below 768 screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .navbar__toggle-btn {
    display: block;
    top: 21px;
    right: 16px;
    font-size: var(--font-medium);
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-pink);
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .nav__menu {
    flex-direction: column;
    width: 100vw;
    text-align: center;
    display: none;
    padding-right: -20px;
    margin-bottom: -5px;
  }

  .nav__menu.open {
    display: block;
  }
  .nav__menu__items {
    width: 90%;
  }

  .section {
    padding: 16px;
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .home__avatar {
    height: 130px;
     width: 130px;
     margin-top: 50px;

  }

  .home__contact {
    font-size: var(--font-small);
  }

  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .major {
    margin-bottom: 30px;
  }

  .category__btn {
    padding: 10px;
    width: 50vw;
  }
  .contribution {
    margin-top: 0px;
  }
  .contributions__main {
    margin-bottom: -20px;
  }
  
  .project {
    flex-grow: 1;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
  }

  .testimonial__avatar {
    width: 120px;
    height: 120px;
  }

  .testimonial__avatar:nth-child(even),.testimonial__avatar:nth-child(odd) {
    margin: 0;
    margin-bottom: 8px;
  }


  .testimonial__speech-bubble {
    order: 1;
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50%;
    right: 16px;
    bottom: 16px;
  }

